#pragma once

// Rename this file to config.hpp and define there your own configuration

// Http Server config
#define WIFI_SSID "myssid"
#define WIFI_PASS "mypass"
#define PORT 80

// DHT config
#define DHTPIN D2
#define DHTTYPE DHT22  // DHT 22  (AM2302), AM2321

// Project specific config
#define METRICS_PREFIX "esp8266_ambiance"
#define VERSION "0.4.0"
